/* You can add global styles to this file, and also import other style files */
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";
html,
body{
    height : 100%;
    margin: 0;
    .page-header {
        background-color: white;  /* Violet background color for the header */
       
        color: white;  /* White font color */
        text-align: left;  /* Center the text */
        padding: 10px 0;  /* Add some padding for spacing */
      }
      
      .page-header h1 {
        margin: 0;  /* Remove default margin for the header */
        font-size: 2rem;  /* Adjust font size as needed */
        font-weight: bold;  /* Make the font bold */
      }

.logo {
    height: 165px; /* Adjusts the logo size */
    width: auto; /* Maintains aspect ratio */
  }

    .small-button {
        width: 120px; /* Set to desired width */
      }


      /* Container to arrange the fields in a row */

  
  /* Ensure label and field are aligned in a row */
  .field {
    display: flex;
    flex-direction: column; /* Stack label on top of the input field */
    width: 50%; /* Adjust this width for two fields in a row, you can modify this value */
  }
  
  /* Space between label and input field */
  .field label {
    margin-bottom: 0.5rem; /* Adjust the space between label and field */
  }
  
  /* Style for the small-icon-input */
  .small-icon-input {
    width: 80%; /* Ensures the input takes up the full width of its container */
    font-size: 14px; /* Adjust font size as needed */
  }
  
  /* Adjust icon size */
  .small-icon-input .pi {
    font-size: 0.8em; /* Adjust icon size */
  }
  .mandatory-label::after {
    content: " *"; /* Add a star after the label */
    color: red; /* Red color for the * symbol */
    font-weight: bold; /* Bold the star */
  }
  .form-description {
    font-size: 0.875rem;  /* Smaller font size */
    color: #6c757d;  /* Light gray color */
    margin-top: 5px;  /* Space between label and description */
  }
}
